<div class="container">
  <div style="margin-left: 80px; margin-bottom: 60px;" *ngIf="isLoading">
    <span>Loading...</span>
  </div>
  <div style="margin-left: 80px;  width: 70%;" *ngIf="!isLoading">
    <div *ngIf="tripReports?.length == 0">No records found.</div>
        <li class="tripReport-wrapper" *ngFor="let tripReport of tripReports">
          <div class="tripReport">
            <div>
              <div *ngIf="tripReport.routeType=='Urban' || tripReport.routeType=='Suburban'">
                <h4 style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">Bus Station - {{tripReport.destination}} ({{tripReport.routeType}})</h4>
              </div>
              <div *ngIf="tripReport.routeType=='Intercity'">
                <h4 style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">Novopolotsk - {{tripReport.busStops[tripReport.busStops.length - 1].location}} ({{tripReport.routeType}})</h4>
              </div>
              <hr>
              <p style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">
                <b>Time: </b><span>{{tripReport.departureTime | date:'shortTime' }} - {{tripReport.arrivalTime | date:'shortTime' }} </span><br>
                <b>Minutes in way: </b><span>{{tripReport.minutesInWay}} minutes. </span><br>
                <b>Schedule: </b><span>{{tripReport.schedule}}</span><br>
                <b>Price: </b><span>{{tripReport.price.toFixed(2)}}$</span><br>
              </p>
              <hr>
              <nz-collapse nzGhost class="collapse-zorro">
                <nz-collapse-panel
                [nzShowArrow]="false"
                [nzHeader]="'Show details'">
                    <b>Bus: </b><span> {{tripReport.busName}} "{{tripReport.busNumber}}" {{tripReport.countOfSeats}} count of seats</span><br>
                    <b>Driver: </b><span>{{tripReport.busDriver }} </span>
                  <li *ngFor="let busStop of tripReport.busStops; let i = index">
                      <div *ngIf="tripReport.routeType=='Urban' || tripReport.routeType=='Suburban'">
                          <b>{{i + 1}}: </b> <span>{{busStop.name }} {{busStop.arrivalTime  | date:'shortTime' }} </span>
                      </div>
                      <div *ngIf="tripReport.routeType=='Intercity'">
                          <b>{{i + 1}}: </b> <span>{{busStop.name }} {{busStop.arrivalTime  | date:'shortTime' }} - {{busStop.departureTime | date:'shortTime' }} </span>
                      </div>
                  </li>
                </nz-collapse-panel>
              </nz-collapse>
            </div>
        </div>
        </li>
  </div>

  <div class="control-menu">
    <div class="form-menu">
      <h3>Bus station</h3>
      <hr style="background-color: dimgray; height: 1px;" />

      <div class="form-group row">
        <label class="col-sm-5 col-form-label" style="font-weight: bold">Search:</label>
        <div class="col-sm-7">
          <input class="form-control" style="border-radius: 0px;" type="search" id="search" (input)="search()" />
        </div>
      </div>
      <hr style="background-color: dimgray; height: 1px;" />

      <div class="form-group row">
        <label class="col-sm-5 col-form-label" style="font-weight: bold">Route:</label>
        <div class="col-sm-7">
          <select *ngIf="routeType$ | async as routeTypes; else loading" class="form-control" style="border-radius: 0px;" id="routeType" (change)="routeTypeChange()">
            <option value="">All</option>
            <option *ngFor="let routeType of routeTypes" value="{{routeType.name}}">{{routeType.name}}</option>
          </select>
        </div>
      </div>
      <hr style="background-color: dimgray; height: 1px;" />

      <div class="form-group row">
        <label class="col-sm-5 col-form-label" style="font-weight: bold">Schedule:</label>
        <div class="col-sm-7">
          <select *ngIf="schedule$ | async as schedules; else loading" class="form-control" style="border-radius: 0px;" id="schedule" (change)="scheduleChange()">
            <option value="">All</option>
            <option *ngFor="let schedule of schedules" value="{{schedule.name}}">{{schedule.name}}</option>
          </select>
        </div>
      </div>
      <hr style="background-color: dimgray; height: 1px;" />

      <div class="form-group row">
        <label class="col-sm-5 col-form-label" style="font-weight: bold">Departure time:</label>
        <div class="col-sm-7">
          <input class="form-control" style="border-radius: 0px;" type="time" id="departureTime" (input)="departureTimeChange()" />
        </div>
      </div>
      <hr style="background-color: dimgray; height: 1px;" />

      <div class="form-group row">
        <label class="col-sm-5 col-form-label" style="font-weight: bold">Arrival time:</label>
        <div class="col-sm-7">
          <input class="form-control" style="border-radius: 0px;" type="time" id="arrivalTime" (input)="arrivalTimeChange()" />
        </div>
      </div>
      <hr style="background-color: dimgray; height: 1px;" />

      <div class="form-group row">
        <label class="col-sm-5 col-form-label" style="font-weight: bold">Date:</label>
        <div class="col-sm-7">
          <input class="form-control" style="border-radius: 0px;" type="date" id="date" (input)="dateChange()" />
        </div>
      </div>
      <hr style="background-color: dimgray; height: 1px;" />
  </div>
</div>

<ng-template #loading>
  <span>Loading...</span>
</ng-template>

<ng-template #test>
  <span>test...</span>
</ng-template>

