<mat-drawer-container class="page-drawer" matAutosize>
  <button class="sidepan-toggle" mat-flat-button (click)="drawer.toggle()">
    <ng-container *ngIf="drawer; else elseTemplate">
      <mat-icon>arrow_forward</mat-icon>
    </ng-container>
    <ng-template #elseTemplate>
      <mat-icon>arrow_back</mat-icon>
    </ng-template>
  </button>

  <mat-drawer #drawer class="sidenav" mode="side">
    <mat-form-field class="search-input">
      <input type="text" matInput [(ngModel)]="searchString" (ngModelChange)="sendSearchQuery()" placeholder="Search">
    </mat-form-field>

    <mat-nav-list *ngIf="genres$ | async as genres; else loading">
      <mat-list-item> All </mat-list-item>
      <mat-list-item *ngFor="let genre of genres.items"> {{genre.name}} </mat-list-item>
    </mat-nav-list>

  </mat-drawer>

  <div class="card-wrapper" *ngIf="movies$ | async as movies; else loading">
    <mat-card class="movie-card" *ngFor="let movie of movies.items">
      <img mat-card-image [src]="'https://image.tmdb.org/t/p/w300_and_h450_bestv2' + movie.posterPath"
        alt="Film poster" />
      <mat-card-content>
        <p class="title"> {{ movie.title }} </p>
        <div class="overview">
          <p> {{ movie.overview }} </p>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button routerLink="/details/{{movie.id}}">MORE</button>
        <button mat-button>LIKE</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <ng-template #loading>
    <mat-spinner></mat-spinner>
  </ng-template>
</mat-drawer-container>
