<div class="card-wrapper">

  <mat-card class="movie-card" *ngFor="let movie of movies.items">
    <mat-card-header>
    </mat-card-header>
    <mat-card-title>
      <img class="poster-image" mat-card-image [src]="'https://image.tmdb.org/t/p/w300_and_h450_bestv2' + movie.posterPath" alt="Film poster" />

    </mat-card-title>
    <mat-card-content>

      <p class="title"> {{ movie.title }} </p>
      <p class="overview"> {{ movie.overview }} </p>
    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button color="primary">Details</button>
      <button mat-raised-button color="accent">SHARE</button>
    </mat-card-actions>
  </mat-card>
</div>
