.card-wrapper {
  display: flex;
  max-width: 100%;
}

.overflow {
  white-space: nowrap;
  overflow: hidden;
  background: #fc0;
  padding: 5px;
  text-overflow: ellipsis;
}

mat-card {
  align-items: center;
  justify-content: center;
  flex: 0 0 10%;
  margin: 10px;

  .title{
    font-size: 18px;
    font-weight: bold;
  }
}
