<div class="slider-wrapper">
  <div class="slideshow-container">

    <!-- Full-width images with number and caption text -->
    <div class="mySlides fade" *ngFor="let media of mediaOfMovie; index as i">

      <ng-container *ngIf="media.filePath; else elseTemplate">
        <div class="numbertext">{{slideIndex}} / {{mediaOfMovie.length}}</div>
        <img [src]="'https://image.tmdb.org/t/p/original/' + media.filePath" style="width:100%">
        <div class="text">{{movie.title}}</div>
      </ng-container>
      <ng-template #elseTemplate>
        <div class="video-container">
          <iframe [src]="videoURL(i)" frameborder="0" allowfullscreen></iframe>
        </div>
      </ng-template>
    </div>

    <!-- Next and previous buttons -->
    <a class="prev" (click)="plusSlides(-1)">&#10094;</a>
    <a class="next" (click)="plusSlides(1)">&#10095;</a>
  </div>
  <br>
  <!-- The dots/circles -->
  <div style="text-align:center">
    <span class="dot" *ngFor="let media of mediaOfMovie; index as i" (click)="currentSlide(i + 1)"></span>
  </div>
</div>
