<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> <b> № </b> </th>
      <td mat-cell *matCellDef="let element; let i = index"> <b>{{ i + 1}} </b></td>
    </ng-container>

    <ng-container matColumnDef="ticketId">
      <th mat-header-cell *matHeaderCellDef> <b> Ticket Number </b></th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="seatType">
      <th mat-header-cell *matHeaderCellDef> <b> SeatType </b></th>
      <td mat-cell *matCellDef="let element"> {{element.seat.seatType.name}} </td>
    </ng-container>

    <ng-container matColumnDef="seat">
      <th mat-header-cell *matHeaderCellDef> <b> Seat Number </b></th>
      <td mat-cell *matCellDef="let element"
        #tooltip="matTooltip" [matTooltip]="'Row: ' + element.seat.row + '\n Seat: ' + element.seat.number" [matTooltipPosition]="'above'">
          {{element.seat.row}} - {{element.seat.number}}
      </td>
    </ng-container>

    <ng-container matColumnDef="sessionId">
      <th mat-header-cell *matHeaderCellDef> <b> SessionId </b></th>
      <td mat-cell *matCellDef="let element"> {{element.sessionId}} </td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> <b> Date </b></th>
      <td mat-cell *matCellDef="let element"> {{element.session.dateTime | date: 'short'}} </td>
    </ng-container>

    <ng-container matColumnDef="hall">
      <th mat-header-cell *matHeaderCellDef> <b> Hall Name </b></th>
      <td mat-cell *matCellDef="let element"> {{element.session.hall.name}} </td>
    </ng-container>

    <ng-container matColumnDef="movieTitle">
      <th mat-header-cell *matHeaderCellDef> <b> MovieId </b></th>
      <td mat-cell *matCellDef="let element"> {{element.session.movieTitle}} </td>
    </ng-container>

    <ng-container matColumnDef="goToMovie">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <a mat-button [routerLink]="'/movieDetail/' + element.session.movieId"> Go To Movie</a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" aria-label="Select page of seats list"> </mat-paginator>

</div>
