<div class="small-hall-seats-wrapper">
  <mat-list>
    <mat-list-item *ngFor="let i of [1, 2, 3, 4, 5, 6, 7]">
      <p class="row-number"> {{i}} </p>
    </mat-list-item>
  </mat-list>
  <div class="hall-seats-wrapper">
    <button class="seat" [ngClass]="{'seat-taken': seat.isTaken,
  'seat-selected': seat.isSelected,
  'seat-romantic': seat.seatTypeName == 'Romantic'}" *ngFor="let seat of seats" #tooltip="matTooltip"
      [matTooltip]="seat.seatTypeName + ', ' + seat.seatTypePrice + '$'" [matTooltipPosition]="'above'"
      (click)="toggleSeats(seat)">
      {{seat.row}} - {{seat.number}}
    </button>
  </div>
</div>
