  .small-hall-seats-wrapper {
    display: flex;
  }

  .hall-seats-wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 65%;
    justify-content: center;
  }

  .row-number {
    font-size: 22px;
    font-weight: 500;
    height: 55px;
    width: 30px;
  }

  .seat {
    width: 50px;
    height: 50px;
    border: 1px solid #000;
    margin: 3px;
    text-align: center;
    background-color: white;
    border-radius: 10px 10px 30px 30px;
  }

  .seat-taken {
    background-color: yellow;
  }

  .seat-selected {
    background-color: indigo;
    color: white;
  }

  .seat-romantic {
    width: 100px;
  }
