<div class="main-container">
  <div class="control-menu">
    <div class="form-menu">

      <div class="row">
        <h4 class="col-sm-8">Trips</h4>
        <div class="col-sm-2">
          <button (click)="showAddModal()" class="btn btn-outline-dark" style="border-radius: 0px;">
            Add
          </button>
        </div>
      </div>
      <hr style="background-color: dimgray; height: 1px;" />

      <div class="form-group row">
        <label class="col-sm-4 col-form-label" style="font-weight: bold">Search</label>
        <div class="col-sm-8">
          <input class="form-control" style="border-radius: 0px;" type="search" id="search" (input)="search()" />
        </div>
      </div>
      <hr style="background-color: dimgray; height: 1px;" />
    </div>
  </div>

  <div class="items-container">
    <div *ngFor="let trip of trips">
      <div class="item-container" >
        <div class="row">
          <div class="col-sm-1">
            <b>Id: </b><span>{{trip.id}}</span>
          </div>
          <div class="col-sm-2">
            <b>Route id: </b><span>{{trip.routeId}}</span>
          </div>
          <div class="col-sm-2">
            <b>Bus id: </b><span>{{trip.busId}}</span>
          </div>
          <div class="col-sm-2">
            <b>Schedule id: </b><span>{{trip.scheduleId}}</span>
          </div>
          <div class="col-sm-4">
            <b>Departure time: </b><span>{{trip.departureTime | date:'shortTime'}} </span>
          </div>
          <div class="col-sm-2" style="padding-right: 10px;" >
            <span >
              <button (click)="showUpdateModal(trip.id, trip)" type="button" class="btn btn-outline-dark" style="border-radius: 0px;" data-toggle="modal" data-target="#updateModal">
                Update
              </button>
              <button (click)="showDeleteModal(trip.id)" type="button" class="btn btn-outline-dark" style="border-radius: 0px;" data-toggle="modal" data-target="#deleteModal">
                Delete
              </button>
            </span>
          </div>
        </div>
      </div>
      <div style="margin-top: 10px"></div>
    </div>
  </div>
</div>

<nz-modal
      [(nzVisible)]="isAddVisible"
      nzTitle="Add trip"
      (nzOnCancel)="handleAddCancel()"
      (nzOnOk)="handleAddOk()"
      [nzOkLoading]="isAddOkLoading"
    >
      <div *nzModalContent>
        <form [formGroup]="form">
          <div class="form-group" [ngClass]="{invalid: form.get('routeId')?.touched && form.get('routeId')?.invalid}">
            <label class="col-form-label" style="font-weight: bold" for="routeId">Route type id: </label>
            <input class="form-control" style="border-radius: 0px;" id="routeId" type="number" formControlName="routeId">
            <div class="validation" *ngIf="form.get('routeId')?.touched && form.get('routeId')?.invalid">
              <small *ngIf="form.get('routeId')?.errors?.required">Enter field.</small>
            </div>
          </div>
          <div class="form-group" [ngClass]="{invalid: form.get('busId')?.touched && form.get('busId')?.invalid}">
            <label class="col-form-label" style="font-weight: bold" for="busId">Route type id: </label>
            <input class="form-control" style="border-radius: 0px;" id="busId" type="number" formControlName="busId">
            <div class="validation" *ngIf="form.get('busId')?.touched && form.get('busId')?.invalid">
              <small *ngIf="form.get('busId')?.errors?.required">Enter field.</small>
            </div>
          </div>
          <div class="form-group" [ngClass]="{invalid: form.get('scheduleId')?.touched && form.get('scheduleId')?.invalid}">
            <label class="col-form-label" style="font-weight: bold" for="scheduleId">Schedule id: </label>
            <input class="form-control" style="border-radius: 0px;" id="scheduleId" type="number" formControlName="scheduleId">
            <div class="validation" *ngIf="form.get('scheduleId')?.touched && form.get('scheduleId')?.invalid">
              <small *ngIf="form.get('scheduleId')?.errors?.required">Enter field.</small>
            </div>
          </div>
          <div class="form-group" [ngClass]="{invalid: form.get('departureTime')?.touched && form.get('departureTime')?.invalid}">
            <label class="col-form-label" style="font-weight: bold" for="departureTime">Departure time: </label>
            <input class="form-control" style="border-radius: 0px;" id="departureTime" type="time" formControlName="departureTime">
            <div class="validation" *ngIf="form.get('departureTime')?.touched && form.get('departureTime')?.invalid">
              <small *ngIf="form.get('departureTime')?.errors?.required">Enter field.</small>
            </div>
          </div>
        </form>
      </div>
      <div *nzModalFooter>
        <button class="btn btn-outline-dark" style="border-radius: 0px; margin-left: 10px;" (click)="handleAddOk()" >Ok</button>
        <button class="btn btn-outline-danger" style="border-radius: 0px;" (click)="handleAddCancel()">Cancel</button>
      </div>
</nz-modal>

<nz-modal
      [(nzVisible)]="isUpdateVisible"
      nzTitle="Update trip"
      (nzOnCancel)="handleUpdateCancel()"
      (nzOnOk)="handleUpdateOk()"
      [nzOkLoading]="isUpdateOkLoading"
    >
      <div *nzModalContent>
        <form [formGroup]="form">
          <div class="form-group" [ngClass]="{invalid: form.get('routeId')?.touched && form.get('routeId')?.invalid}">
            <label class="col-form-label" style="font-weight: bold" for="routeId">Route type id: </label>
            <input class="form-control" style="border-radius: 0px;" id="routeId" type="number" formControlName="routeId">
            <div class="validation" *ngIf="form.get('routeId')?.touched && form.get('routeId')?.invalid">
              <small *ngIf="form.get('routeId')?.errors?.required">Enter field.</small>
            </div>
          </div>
          <div class="form-group" [ngClass]="{invalid: form.get('busId')?.touched && form.get('busId')?.invalid}">
            <label class="col-form-label" style="font-weight: bold" for="busId">Route type id: </label>
            <input class="form-control" style="border-radius: 0px;" id="busId" type="number" formControlName="busId">
            <div class="validation" *ngIf="form.get('busId')?.touched && form.get('busId')?.invalid">
              <small *ngIf="form.get('busId')?.errors?.required">Enter field.</small>
            </div>
          </div>
          <div class="form-group" [ngClass]="{invalid: form.get('scheduleId')?.touched && form.get('scheduleId')?.invalid}">
            <label class="col-form-label" style="font-weight: bold" for="scheduleId">Schedule id: </label>
            <input class="form-control" style="border-radius: 0px;" id="scheduleId" type="number" formControlName="scheduleId">
            <div class="validation" *ngIf="form.get('scheduleId')?.touched && form.get('scheduleId')?.invalid">
              <small *ngIf="form.get('scheduleId')?.errors?.required">Enter field.</small>
            </div>
          </div>
          <div class="form-group" [ngClass]="{invalid: form.get('departureTime')?.touched && form.get('departureTime')?.invalid}">
            <label class="col-form-label" style="font-weight: bold" for="departureTime">Departure time id: </label>
            <input class="form-control" style="border-radius: 0px;" id="departureTime" type="time" formControlName="departureTime">
            <div class="validation" *ngIf="form.get('departureTime')?.touched && form.get('departureTime')?.invalid">
              <small *ngIf="form.get('departureTime')?.errors?.required">Enter field.</small>
            </div>
          </div>
        </form>
      </div>
      <div *nzModalFooter>
        <button class="btn btn-outline-dark" style="border-radius: 0px; margin-left: 10px;" (click)="handleUpdateOk()" >Ok</button>
        <button class="btn btn-outline-danger" style="border-radius: 0px;" (click)="handleUpdateCancel()">Cancel</button>
      </div>
</nz-modal>

<nz-modal
      [(nzVisible)]="isDeleteVisible"
      nzTitle="Delete trip"
      (nzOnCancel)="handleDeleteCancel()"
      (nzOnOk)="handleDeleteOk()"
      [nzOkLoading]="isDeleteOkLoading"
    >
      <div *nzModalContent>
        <p>
          Are you sure want delete this trip?
        </p>
      </div>
      <div *nzModalFooter>
        <button class="btn btn-outline-dark" style="border-radius: 0px; margin-left: 10px;" (click)="handleDeleteOk()" >Ok</button>
        <button class="btn btn-outline-danger" style="border-radius: 0px;" (click)="handleDeleteCancel()">Cancel</button>
      </div>
</nz-modal>

<ng-template #loading>
  <div>Loading...</div>
</ng-template>
