<div class="profile-wrapper" *ngIf="profile$ | async as profile; else loading">

  <img class="profile-image" mat-card-image [src]="profile.imageUrl" alt="Film poster" />

  <div class="profile-info">
    <p class="username" *ngIf="user$ | async as user"> {{ user.userName }} </p>
    <p class="info"> {{ profile.name }} {{ profile.secondName }}</p>
    <p class="info"> {{ profile.phoneNumber }} </p>
    <p class="info"> {{ profile.dateOfBirth | date: 'mediumDate' }} </p>
    <p class="info" *ngIf="user$ | async as user"> {{ user.email }} </p>
  </div>

  <div class="profile-info">
    <app-profile-tickets-table *ngIf="tickets && tickets.length" [tickets]="tickets"></app-profile-tickets-table>
  </div>
</div>

<ng-template #loading>
  <ng-container *ngIf="!isError; else error">
    <app-loading></app-loading>
  </ng-container>
</ng-template>

<ng-template #error>
  <ng-container>
    <app-error></app-error>
  </ng-container>
</ng-template>
