.details-wrapper {
  margin: 0px 10%;
  display: flex;

  .person-poster {
    box-shadow: 1px 1px 5px -1px black;
    margin: 30px;
    height: calc(100vh * 0.8);
  }

  .person-info {
    margin: 30px;

    .person-title {
      font-size: 32px;
      font-weight: bold;
    }

    .person-cast {
      .person-cast-image {
        width: 75px;
        border-radius: 100%;
        margin: 10px;
        -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
        transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
      }

      .person-cast-image:hover {
        transform: scale(1.2, 1.2);
      }

      /* Fade in the pseudo-element with the bigger shadow */
      .person-cast-image:hover::after {
        opacity: 1;
      }
    }

    .subtitle {
      font-size: 16px;
      font-weight: bold;
    }

    .person-tagline {
      margin: 20px 0px;
      font-size: 18px;
      font-weight: lighter;
    }
  }
}
