<div class="details-wrapper" *ngIf="person$ | async as person; else loading">

  <div>
    <img class="person-poster" [src]="'https://image.tmdb.org/t/p/w600_and_h900_bestv2/' + person.images[0].filePath"
      alt="Person photo" />
  </div>

  <div class="person-info">
    <p class="person-title"> {{person.name}}</p>
    <p class="person-tagline"> {{person.birthDay}}</p>
    <p class="person-genres"> {{ person.placeOfBirth }} </p>

    <p class="subtitle"> THE CAST</p>

    <!-- <div class="person-cast">
      <img *ngFor="let cast of mainCasts" class="person-cast-image" #tooltip="matTooltip" [matTooltip]="cast.name"
        [matTooltipPosition]="'below'" [src]="'https://image.tmdb.org/t/p/w600_and_h600_bestv2/' + cast.profilePath"
        mat-ra alt="Person photo"
        (click)="redirectToMovie(cast.id)"
        />
    </div> -->

    <p class="subtitle"> SYNOPSIS</p>
    <p class="person-overview"> {{person.biography}}</p>
    <p class="person-budget"> Popularity: {{person.popularity}} </p>
    <p class="person-voteaverage"> Rate: {{person.popularity}}</p>

    <p class="subtitle"> VIDEO & PICTURE</p>
    <!-- <div class="person-media">
      <app-person-detail-slider [person]="person"></app-person-detail-slider>
    </div> -->
  </div>
</div>

<ng-template #loading>
  <ng-container *ngIf="!isError; else error">
    <app-loading></app-loading>
  </ng-container>
</ng-template>

<ng-template #error>
  <ng-container>
    <app-error></app-error>
  </ng-container>
</ng-template>
