<div class="container">
  <div class="nav-panel-container">
    <div class="nav-panel-menu">
      <div class="btn-group-vertical btn-block">
        <a class="btn btn-outline-dark" style="border-radius: 0px;" [routerLink]="['buses']">Buses</a>
        <a class="btn btn-outline-dark" style="border-radius: 0px;" [routerLink]="['busStops']">Bus stops</a>
        <a class="btn btn-outline-dark" style="border-radius: 0px;" [routerLink]="['routes']">Routes</a>
        <a class="btn btn-outline-dark" style="border-radius: 0px;" [routerLink]="['routeBusStops']">Route bus stops</a>
        <a class="btn btn-outline-dark" style="border-radius: 0px;" [routerLink]="['trips']">Trips</a>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
