<div class="comment-container" *ngIf="comment">
  <div class="comment-header">
    <div class="comment-author">
      <img class="profile-icon" [src]="comment.profile.imageUrl" (click)="redirectToProfile(comment.profile.id)"
        alt="Profile picture" />
      <p class="profile-name"> {{ comment.profile.name }} {{ comment.profile.secondName }} </p>
    </div>
    <div class="comment-date">{{ comment.dateTime | date }}</div>
  </div>
  <div class="comment-text">{{ comment.text }}</div>

  <button mat-button routerLink="/faq">
    <mat-icon>add_circle_outline</mat-icon>
    <mat-icon>add_circle</mat-icon>
  </button>
  <button mat-button routerLink="/faq">
    <mat-icon [ngStyle]="{'color':'red'}">remove_circle_outline</mat-icon>
    <mat-icon>remove_circle</mat-icon>
  </button>

  <div class="comment-replies" *ngFor="let reply of comment.replies">
    <app-movie-comments-tree [comment]="reply"></app-movie-comments-tree>
  </div>
</div>
