<div class="main-container">
  <div class="control-menu">
    <div class="form-menu">

      <div class="row">
        <h4 class="col-sm-8">Route bus stops</h4>
        <div class="col-sm-2">
          <button (click)="showAddModal()" class="btn btn-outline-dark" style="border-radius: 0px;">
            Add
          </button>
        </div>
      </div>
      <hr style="background-color: dimgray; height: 1px;" />

      <div class="form-group row">
        <label class="col-sm-4 col-form-label" style="font-weight: bold">Search</label>
        <div class="col-sm-8">
          <input class="form-control" style="border-radius: 0px;" type="search" id="search" (input)="search()" />
        </div>
      </div>
      <hr style="background-color: dimgray; height: 1px;" />
    </div>
  </div>

  <div class="items-container">
    <div *ngFor="let routeBusStop of routeBusStops">
      <div class="item-container" >
        <div class="row">
          <div class="col-sm">
            <b>Route id: </b><span>{{routeBusStop.routeId}}</span>
          </div>
          <div class="col-sm">
            <b>Bus stop id: </b><span>{{routeBusStop.busStopId}}</span>
          </div>
          <div class="col-sm">
            <b>Order: </b><span>{{routeBusStop.order}}</span>
          </div>
          <div class="col-sm">
            <b>Minutes in way: </b><span>{{routeBusStop.minutesInWay}}</span>
          </div>
          <div class="col-sm">
            <b>Waiting time: </b><span>{{routeBusStop.waitingTime}}</span>
          </div>
          <div style="padding-right: 10px;" class="col-sm">
            <span >
              <button (click)="showUpdateModal(routeBusStop)" class="btn btn-outline-dark" style="border-radius: 0px;">
                Update
              </button>
              <button (click)="showDeleteModal(routeBusStop)" class="btn btn-outline-dark" style="border-radius: 0px;">
                Delete
              </button>
            </span>
          </div>
        </div>
      </div>
      <div style="margin-top: 10px"></div>
    </div>
  </div>
</div>

<nz-modal
      [(nzVisible)]="isAddVisible"
      nzTitle="Add route bus stop"
      (nzOnCancel)="handleAddCancel()"
      (nzOnOk)="handleAddOk()"
      [nzOkLoading]="isAddOkLoading"
    >
      <div *nzModalContent>
        <form [formGroup]="form">
          <div class="form-group" [ngClass]="{invalid: form.get('routeId')?.touched && form.get('routeId')?.invalid}">
            <label class="col-form-label" style="font-weight: bold" for="routeId">Route id: </label>
            <input class="form-control" style="border-radius: 0px;" id="routeId" type="number" formControlName="routeId">
            <div class="validation" *ngIf="form.get('routeId')?.touched && form.get('routeId')?.invalid">
              <small *ngIf="form.get('routeId')?.errors?.required">Enter field.</small>
            </div>
          </div>
          <div class="form-group" [ngClass]="{invalid: form.get('busStopId')?.touched && form.get('busStopId')?.invalid}">
            <label class="col-form-label" style="font-weight: bold" for="busStopId">Bus stop id: </label>
            <input class="form-control" style="border-radius: 0px;" id="busStopId" type="number" formControlName="busStopId">
            <div class="validation" *ngIf="form.get('busStopId')?.touched && form.get('busStopId')?.invalid">
              <small *ngIf="form.get('busStopId')?.errors?.required">Enter field.</small>
            </div>
          </div>
          <div class="form-group" [ngClass]="{invalid: form.get('order')?.touched && form.get('order')?.invalid}">
            <label class="col-form-label" style="font-weight: bold" for="order">Order: </label>
            <input class="form-control" style="border-radius: 0px;" id="order" type="number" formControlName="order">
            <div class="validation" *ngIf="form.get('order')?.touched && form.get('order')?.invalid">
              <small *ngIf="form.get('order')?.errors?.required">Enter field.</small>
            </div>
          </div>
          <div class="form-group" [ngClass]="{invalid: form.get('minutesInWay')?.touched && form.get('minutesInWay')?.invalid}">
            <label class="col-form-label" style="font-weight: bold" for="minutesInWay">Minutes in way: </label>
            <input class="form-control" style="border-radius: 0px;" id="minutesInWay" type="number" formControlName="minutesInWay">
            <div class="validation" *ngIf="form.get('minutesInWay')?.touched && form.get('minutesInWay')?.invalid">
              <small *ngIf="form.get('minutesInWay')?.errors?.required">Enter field.</small>
            </div>
          </div>
          <div class="form-group" [ngClass]="{invalid: form.get('waitingTime')?.touched && form.get('waitingTime')?.invalid}">
            <label class="col-form-label" style="font-weight: bold" for="waitingTime">Waiting time: </label>
            <input class="form-control" style="border-radius: 0px;" id="waitingTime" type="number" formControlName="waitingTime">
            <div class="validation" *ngIf="form.get('waitingTime')?.touched && form.get('waitingTime')?.invalid">
              <small *ngIf="form.get('waitingTime')?.errors?.required">Enter field.</small>
            </div>
          </div>
        </form>
      </div>
      <div *nzModalFooter>
        <button class="btn btn-outline-dark" style="border-radius: 0px; margin-left: 10px;" (click)="handleAddOk()" >Ok</button>
        <button class="btn btn-outline-danger" style="border-radius: 0px;" (click)="handleAddCancel()">Cancel</button>
      </div>
</nz-modal>

<nz-modal
      [(nzVisible)]="isUpdateVisible"
      nzTitle="Update route bus stop"
      (nzOnCancel)="handleUpdateCancel()"
      (nzOnOk)="handleUpdateOk()"
      [nzOkLoading]="isUpdateOkLoading"
    >
      <div *nzModalContent>
        <form [formGroup]="form">
          <div class="form-group" [ngClass]="{invalid: form.get('routeId')?.touched && form.get('routeId')?.invalid}">
            <label class="col-form-label" style="font-weight: bold" for="routeId">Route id: </label>
            <input class="form-control" style="border-radius: 0px;" id="routeId" type="number" formControlName="routeId">
            <div class="validation" *ngIf="form.get('routeId')?.touched && form.get('routeId')?.invalid">
              <small *ngIf="form.get('routeId')?.errors?.required">Enter field.</small>
            </div>
          </div>
          <div class="form-group" [ngClass]="{invalid: form.get('busStopId')?.touched && form.get('busStopId')?.invalid}">
            <label class="col-form-label" style="font-weight: bold" for="busStopId">Bus stop id: </label>
            <input class="form-control" style="border-radius: 0px;" id="busStopId" type="number" formControlName="busStopId">
            <div class="validation" *ngIf="form.get('busStopId')?.touched && form.get('busStopId')?.invalid">
              <small *ngIf="form.get('busStopId')?.errors?.required">Enter field.</small>
            </div>
          </div>
          <div class="form-group" [ngClass]="{invalid: form.get('order')?.touched && form.get('order')?.invalid}">
            <label class="col-form-label" style="font-weight: bold" for="order">Order: </label>
            <input class="form-control" style="border-radius: 0px;" id="order" type="number" formControlName="order">
            <div class="validation" *ngIf="form.get('order')?.touched && form.get('order')?.invalid">
              <small *ngIf="form.get('order')?.errors?.required">Enter field.</small>
            </div>
          </div>
          <div class="form-group" [ngClass]="{invalid: form.get('minutesInWay')?.touched && form.get('minutesInWay')?.invalid}">
            <label class="col-form-label" style="font-weight: bold" for="minutesInWay">Minutes in way: </label>
            <input class="form-control" style="border-radius: 0px;" id="minutesInWay" type="number" formControlName="minutesInWay">
            <div class="validation" *ngIf="form.get('minutesInWay')?.touched && form.get('minutesInWay')?.invalid">
              <small *ngIf="form.get('minutesInWay')?.errors?.required">Enter field.</small>
            </div>
          </div>
          <div class="form-group" [ngClass]="{invalid: form.get('waitingTime')?.touched && form.get('waitingTime')?.invalid}">
            <label class="col-form-label" style="font-weight: bold" for="waitingTime">Waiting time: </label>
            <input class="form-control" style="border-radius: 0px;" id="waitingTime" type="number" formControlName="waitingTime">
            <div class="validation" *ngIf="form.get('waitingTime')?.touched && form.get('waitingTime')?.invalid">
              <small *ngIf="form.get('waitingTime')?.errors?.required">Enter field.</small>
            </div>
          </div>
        </form>
      </div>
      <div *nzModalFooter>
        <button class="btn btn-outline-dark" style="border-radius: 0px; margin-left: 10px;" (click)="handleUpdateOk()" >Ok</button>
        <button class="btn btn-outline-danger" style="border-radius: 0px;" (click)="handleUpdateCancel()">Cancel</button>
      </div>
</nz-modal>

<nz-modal
      [(nzVisible)]="isDeleteVisible"
      nzTitle="Delete route bus stop"
      (nzOnCancel)="handleDeleteCancel()"
      (nzOnOk)="handleDeleteOk()"
      [nzOkLoading]="isDeleteOkLoading"
    >
      <div *nzModalContent>
        <p>
          Are you sure want delete this route bus stop?
        </p>
      </div>
      <div *nzModalFooter>
        <button class="btn btn-outline-dark" style="border-radius: 0px; margin-left: 10px;" (click)="handleDeleteOk()" >Ok</button>
        <button class="btn btn-outline-danger" style="border-radius: 0px;" (click)="handleDeleteCancel()">Cancel</button>
      </div>
</nz-modal>

<ng-template #loading>
  <div>Loading...</div>
</ng-template>
