<div class="main-container">
  <div class="control-menu">
    <div class="form-menu">

      <div class="row">
        <h4 class="col-sm-8">Routes</h4>
        <div class="col-sm-2">
          <button (click)="showAddModal()" class="btn btn-outline-dark" style="border-radius: 0px;">
            Add
          </button>
        </div>
      </div>
      <hr style="background-color: dimgray; height: 1px;" />

      <div class="form-group row">
        <label class="col-sm-4 col-form-label" style="font-weight: bold">Search</label>
        <div class="col-sm-8">
          <input class="form-control" style="border-radius: 0px;" type="search" id="search" (input)="search()" />
        </div>
      </div>
      <hr style="background-color: dimgray; height: 1px;" />
    </div>
  </div>

  <div class="items-container">
    <div *ngFor="let route of routes">
      <div class="item-container" >
        <div class="row">
          <div class="col-sm">
            <b>Id: </b><span>{{route.id}}</span>
          </div>
          <div class="col-sm">
            <b>Route type: </b><span>{{route.routeTypeId}}</span>
          </div>
          <div style="padding-right: 10px;" class="col-sm">
            <span >
              <button (click)="showUpdateModal(route.id, route)" class="btn btn-outline-dark" style="border-radius: 0px;">
                Update
              </button>
              <button (click)="showDeleteModal(route.id)"class="btn btn-outline-dark" style="border-radius: 0px;">
                Delete
              </button>
            </span>
          </div>
        </div>
      </div>
      <div style="margin-top: 10px"></div>
    </div>
  </div>
</div>

<nz-modal
      [(nzVisible)]="isAddVisible"
      nzTitle="Add route"
      (nzOnCancel)="handleAddCancel()"
      (nzOnOk)="handleAddOk()"
      [nzOkLoading]="isAddOkLoading"
    >
      <div *nzModalContent>
        <form [formGroup]="form">
          <div class="form-group" [ngClass]="{invalid: form.get('routeTypeId')?.touched && form.get('routeTypeId')?.invalid}">
            <label class="col-form-label" style="font-weight: bold" for="routeTypeId">Route type id: </label>
            <input class="form-control" style="border-radius: 0px;" id="routeTypeId" type="number" formControlName="routeTypeId">
            <div class="validation" *ngIf="form.get('routeTypeId')?.touched && form.get('routeTypeId')?.invalid">
              <small *ngIf="form.get('routeTypeId')?.errors?.required">Enter field.</small>
            </div>
          </div>
        </form>
      </div>
      <div *nzModalFooter>
        <button class="btn btn-outline-dark" style="border-radius: 0px; margin-left: 10px;" (click)="handleAddOk()" >Ok</button>
        <button class="btn btn-outline-danger" style="border-radius: 0px;" (click)="handleAddCancel()">Cancel</button>
      </div>
</nz-modal>

<nz-modal
      [(nzVisible)]="isUpdateVisible"
      nzTitle="Update route"
      (nzOnCancel)="handleUpdateCancel()"
      (nzOnOk)="handleUpdateOk()"
      [nzOkLoading]="isUpdateOkLoading"
    >
      <div *nzModalContent>
        <form [formGroup]="form">
          <div class="form-group" [ngClass]="{invalid: form.get('routeTypeId')?.touched && form.get('routeTypeId')?.invalid}">
            <label class="col-form-label" style="font-weight: bold" for="routeTypeId">Route type id: </label>
            <input class="form-control" style="border-radius: 0px;" id="routeTypeId" type="number" formControlName="routeTypeId">
            <div class="validation" *ngIf="form.get('routeTypeId')?.touched && form.get('routeTypeId')?.invalid">
              <small *ngIf="form.get('routeTypeId')?.errors?.required">Enter field.</small>
            </div>
          </div>
        </form>
      </div>
      <div *nzModalFooter>
        <button class="btn btn-outline-dark" style="border-radius: 0px; margin-left: 10px;" (click)="handleUpdateOk()" >Ok</button>
        <button class="btn btn-outline-danger" style="border-radius: 0px;" (click)="handleUpdateCancel()">Cancel</button>
      </div>
</nz-modal>

<nz-modal
      [(nzVisible)]="isDeleteVisible"
      nzTitle="Delete route"
      (nzOnCancel)="handleDeleteCancel()"
      (nzOnOk)="handleDeleteOk()"
      [nzOkLoading]="isDeleteOkLoading"
    >
      <div *nzModalContent>
        <p>
          Are you sure want delete this route?
        </p>
      </div>
      <div *nzModalFooter>
        <button class="btn btn-outline-dark" style="border-radius: 0px; margin-left: 10px;" (click)="handleDeleteOk()" >Ok</button>
        <button class="btn btn-outline-danger" style="border-radius: 0px;" (click)="handleDeleteCancel()">Cancel</button>
      </div>
</nz-modal>

<ng-template #loading>
  <div>Loading...</div>
</ng-template>
