<div class="slider-wrapper">
  <div class="slideshow-container">

    <div class="mySlides fade" *ngFor="let media of mediaOfMovie; index as i">

      <ng-container *ngIf="media.filePath; else video">
        <div class="numbertext">{{slideIndex}} / {{mediaOfMovie.length}}</div>
        <img [src]="'https://image.tmdb.org/t/p/original/' + media.filePath" style="width:100%; height: auto">
        <div class="text">{{movie.title}}</div>
      </ng-container>
      <ng-template #video>
        <div class="video-container">
          <iframe style="width:100%; height: 500px" [src]="videoURL(i)" frameborder="0" allowfullscreen></iframe>
        </div>
      </ng-template>
    </div>

    <a class="prev" (click)="plusSlides(-1)">&#10094;</a>
    <a class="next" (click)="plusSlides(1)">&#10095;</a>
  </div>
  <br>

  <div style="text-align:center">
    <span class="dot" *ngFor="let media of mediaOfMovie; index as i" (click)="currentSlide(i + 1)"></span>
  </div>
</div>
