<div class="main-container">
  <div class="control-menu">
    <div class="form-menu">

      <div class="row">
        <h4 class="col-sm-8">Bus stops</h4>
        <div class="col-sm-2">
          <button (click)="showAddModal()" class="btn btn-outline-dark" style="border-radius: 0px;">
            Add
          </button>
        </div>
      </div>
      <hr style="background-color: dimgray; height: 1px;" />

      <div class="form-group row">
        <label class="col-sm-4 col-form-label" style="font-weight: bold">Search</label>
        <div class="col-sm-8">
          <input class="form-control" style="border-radius: 0px;" type="search" id="search" (input)="search()" />
        </div>
      </div>
      <hr style="background-color: dimgray; height: 1px;" />
    </div>
  </div>

  <div class="items-container">
    <div *ngFor="let busStop of busStops">
      <div class="item-container" >
        <div class="row">
          <div class="col-sm-2">
            <b>Id: </b><span>{{busStop.id}}</span>
          </div>
          <div class="col-sm-4">
            <b>Name: </b><span>{{busStop.name}}</span>
          </div>
          <div class="col-sm-4">
            <b>Location: </b><span>{{busStop.location}}</span>
          </div>
          <div class="col-sm-2" style="padding-right: 10px;" >
            <span>
              <button (click)="showUpdateModal(busStop.id, busStop)"  class="btn btn-outline-dark" style="border-radius: 0px;">
                Update
              </button>
              <button (click)="showDeleteModal(busStop.id)"class="btn btn-outline-dark" style="border-radius: 0px;">
                Delete
              </button>
            </span>
          </div>
        </div>
      </div>
      <div style="margin-top: 10px"></div>
    </div>
  </div>
</div>


<nz-modal
      [(nzVisible)]="isAddVisible"
      nzTitle="Add bus"
      (nzOnCancel)="handleAddCancel()"
      (nzOnOk)="handleAddOk()"
      [nzOkLoading]="isAddOkLoading"
    >
      <div *nzModalContent>
        <form [formGroup]="form">
          <div class="form-group" [ngClass]="{invalid: form.get('name')?.touched && form.get('name')?.invalid}">
            <label class="col-form-label" style="font-weight: bold" for="name">Name: </label>
            <input class="form-control" style="border-radius: 0px;" id="name" type="text" formControlName="name">
            <div class="validation" *ngIf="form.get('name')?.touched && form.get('name')?.invalid">
              <small *ngIf="form.get('name')?.errors?.required">Enter field.</small>
            </div>
          </div>
          <div class="form-group" [ngClass]="{invalid: form.get('location')?.touched && form.get('location')?.invalid}">
            <label class="col-form-label" style="font-weight: bold" for="location">Location: </label>
            <input class="form-control" style="border-radius: 0px;" id="location" type="text" formControlName="location">
            <div class="validation" *ngIf="form.get('location')?.touched && form.get('location')?.invalid">
              <small *ngIf="form.get('location')?.errors?.required">Enter field.</small>
            </div>
          </div>
        </form>
      </div>
      <div *nzModalFooter>
        <button class="btn btn-outline-dark" style="border-radius: 0px; margin-left: 10px;" (click)="handleAddOk()" >Ok</button>
        <button class="btn btn-outline-danger" style="border-radius: 0px;" (click)="handleAddCancel()">Cancel</button>
      </div>
</nz-modal>

<nz-modal
      [(nzVisible)]="isUpdateVisible"
      nzTitle="Update bus"
      (nzOnCancel)="handleUpdateCancel()"
      (nzOnOk)="handleUpdateOk()"
      [nzOkLoading]="isUpdateOkLoading"
    >
      <div *nzModalContent>
        <form [formGroup]="form">
          <div class="form-group" [ngClass]="{invalid: form.get('name')?.touched && form.get('name')?.invalid}">
            <label class="col-form-label" style="font-weight: bold" for="name">Name: </label>
            <input class="form-control" style="border-radius: 0px;" id="name" type="text" formControlName="name">
            <div class="validation" *ngIf="form.get('name')?.touched && form.get('name')?.invalid">
              <small *ngIf="form.get('name')?.errors?.required">Enter field.</small>
            </div>
          </div>
          <div class="form-group" [ngClass]="{invalid: form.get('location')?.touched && form.get('location')?.invalid}">
            <label class="col-form-label" style="font-weight: bold" for="location">Location: </label>
            <input class="form-control" style="border-radius: 0px;" id="location" type="text" formControlName="location">
            <div class="validation" *ngIf="form.get('location')?.touched && form.get('location')?.invalid">
              <small *ngIf="form.get('location')?.errors?.required">Enter field.</small>
            </div>
          </div>
        </form>
      </div>
      <div *nzModalFooter>
        <button class="btn btn-outline-dark" style="border-radius: 0px; margin-left: 10px;" (click)="handleUpdateOk()" >Ok</button>
        <button class="btn btn-outline-danger" style="border-radius: 0px;" (click)="handleUpdateCancel()">Cancel</button>
      </div>
</nz-modal>

<nz-modal
      [(nzVisible)]="isDeleteVisible"
      nzTitle="Delete bus"
      (nzOnCancel)="handleDeleteCancel()"
      (nzOnOk)="handleDeleteOk()"
      [nzOkLoading]="isDeleteOkLoading"
    >
      <div *nzModalContent>
        <p>
          Are you sure want delete this bus?
        </p>
      </div>
      <div *nzModalFooter>
        <button class="btn btn-outline-dark" style="border-radius: 0px; margin-left: 10px;" (click)="handleDeleteOk()" >Ok</button>
        <button class="btn btn-outline-danger" style="border-radius: 0px;" (click)="handleDeleteCancel()">Cancel</button>
      </div>
</nz-modal>


<ng-template #loading>
  <div>Loading...</div>
</ng-template>
