.card-wrapper {
  display: flex;
  max-width: 100%;
}

mat-card {
  flex: 1 0 14%;
  margin: 10px;
  width: 400px;
  height: 500px;

  .overflow {
    white-space: nowrap;
    overflow: hidden;
  }

  .poster-image {
    margin-left: 10px;
  }
}
