.bus-image{
  z-index: 1000;
  position: fixed;
  left: 700px;
  top: 150px;
  width: 800px;
}

.home-content{
  margin: 300px 0px 0px 200px;
  width: 600px;
}

.home-button{
  position: relative;
  left: 40%;
  transform: translate(-50%, 0);
}
