<div class="details-wrapper" *ngIf="movie$ | async as movie; else loading">
  <div>
    <img class="movie-poster"
      [src]="'https://image.tmdb.org/t/p/w600_and_h900_bestv2/' + (movie.backdropPath ? movie.backdropPath : emptyPoster)"
      alt="Film poster" />
  </div>

  <div class="movie-info">
    <p class="movie-title"> {{movie.title}}</p>
    <p class="movie-tagline"> {{movie.tagline}}</p>
    <p class="movie-genres"> {{ movie.genres | genresPipe }} </p>

    <p class="subtitle"> THE CAST</p>

    <div class="movie-cast">
      <img *ngFor="let cast of mainCasts" class="movie-cast-image" #tooltip="matTooltip" [matTooltip]="cast.name"
        [matTooltipPosition]="'below'" [src]="'https://image.tmdb.org/t/p/w600_and_h600_bestv2/' + cast.profilePath"
        mat-ra alt="Film poster" (click)="redirectToPerson(cast.id)" />
    </div>

    <p class="subtitle"> SYNOPSIS</p>
    <p class="movie-overview"> {{movie.overview}}</p>
    <p class="movie-budget"> Budget: {{movie.budget == 0 ? "Unknown" : movie.budget + '$'}}</p>
    <p class="movie-voteaverage"> Rate: {{movie.voteAverage}}</p>

    <p class="subtitle"> VIDEO & PICTURE</p>
    <div class="movie-media">
      <app-movie-detail-slider [movie]="movie"></app-movie-detail-slider>
    </div>
  </div>
</div>

<div class="movie-comments-wrapper" *ngIf="movie$ | async as movie">
  <div class="comments-tree" *ngIf="movieComments$ | async as movieComments; else loading">
    <div class="comment" *ngFor="let comment of movieComments">
      <app-movie-comments-tree [comment]="comment"></app-movie-comments-tree>
    </div>
  </div>

  <form [formGroup]="commentForm" (ngSubmit)="addComment()" *ngIf="authService.isAuthenticated()">
    <mat-form-field appearance="outline">
      <mat-label>Write a comment</mat-label>
      <textarea matInput formControlName="text" rows="5"></textarea>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit"
      [disabled]="commentForm.invalid || isCommentControlLoading">Send</button>
  </form>
</div>

<ng-template #loading>
  <ng-container *ngIf="!isError; else error">
    <app-loading></app-loading>
  </ng-container>
</ng-template>

<ng-template #error>
  <ng-container>
    <app-error></app-error>
  </ng-container>
</ng-template>
